{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<head>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap" as="style">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap" rel="stylesheet" media="screen" onload="this.media='all'">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" as="style">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet" media="screen" onload="this.media='all'">

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MVXEN40PGH"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-185900750-1">
    </script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-185900750-1');
    </script>
</head>

<style>
    .form-control{
        border-radius:20px;
        border: 1px solid black !important;
    }

    .legend{
        font-family: 'Roboto', sans-serif;
    }

    .btn{
        border-radius:20px;
        border: 1px solid #274970 !important;
    }

    li{
        font-size:10px;
    }

    ul{
        margin-bottom:20px;
    }

    input{
        border-radius:20px;
        border: 1px solid #274970 !important;
        margin-left: 10px;
    }

    form label{
        color: black;
    }

</style>
<div class="hidden-md-up" style="margin-top:5px"></div>
<div class="all-content">

    <div class="user-post-and-comments">

        <div class="user-post row">
            <div class="post-content terms-text">
                    <p><legend class="border-bottom mb-4">Create a New Password</legend></p>
                <form method="post">
                    <fieldset class="form-group">
                        {{form}}
                    </fieldset>
                    <div class="form-group">
                        <input type="Submit" name="Update Password" class="btn btn-outline-info">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock content %}

