{% extends "blog/base.html" %}
{% block content %}

<head>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap" as="style">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap" rel="stylesheet" media="screen" onload="this.media='all'">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" as="style">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet" media="screen" onload="this.media='all'">

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MVXEN40PGH"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-185900750-1">
    </script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-185900750-1');
    </script>
</head>

<style>
    .form-control{
        border-radius:20px;
        border: 1px solid #274970 !important;
    }

    .legend{
        font-family: 'Roboto', sans-serif;
    }

    .btn{
        border-radius:20px;
        border: 1px solid #274970 !important;
    }

</style>
<div class="hidden-md-up" style="margin-top:5px"></div>
<div class="all-content">

    <div class="user-post-and-comments">

        <div class="user-post row">
            <div class="post-content terms-text">
                <fieldset class="form-group">
                    <p><legend class="border-bottom mb-4">Password Reset</legend></p>
                    <p>We’ve emailed you instructions for setting your password. You should receive them shortly.</p>
                    <p>If you don’t receive an email, please make sure you’ve entered the same email address you registered with, and please check your spam folder.</p>
                </fieldset>
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}